@model EfCrud.Models.Products
  <h2>  Product Details </h2>
<style>
    .display-label{
        font-height:bold
    }
</style>
<h2>Details</h2>
@Html.DisplayForModel();
<br/>
@Html.ActionLink("Back to Index", "Index");
